{% extends "base.html" %}
{% block title %} View All Pothole Reports {% endblock %}
{% block content %}
<table class="table">
    <thead class="table-dark">
    <tr>
        <th scope="col"> ID </th>
        <th scope="col"> Street Address </th>
        <th scope="col"> Location in Street</th>
        <th scope="col"> Size </th>
         <th scope="col"> Priority </th>
        <th scope="col"> Reported By </th>
        <th scope="col"> Create Workorder </th>
    </tr>
    </thead>
    <tbody>
    {% for item in values %}
    <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.street_address}}</td>
        <td>{{item.location}}</td>
        <td>{{item.size}}</td>
         <td>{{item.priority}}</td>
        <td>{{item.user}}</td>
        <td><a href="/create_workorder/{{item.id}}" methods="GET">Create Work Order </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}